# JS
node_modules
yarn-error.log
typechain

# Test
coverage/
coverage.json

# Hardhat files
cache
cache-zk
artifacts
artifacts-zk
deployments/**/solcInputs
deployments/localhost
build
contracts/hardhat-dependency-compiler

# Docs
docs/

# OZ
.openzeppelin/unknown-*.json

# Mac
.DS_Store
.vscode
.vscode/launch.json

# hardhat-zksync-upgradable
.upgradable/zkSync-local-setup.json
